
.list-cell {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10px 15px;

}
.plus_button{
	-fx-graphic: url('plus.png');
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #efefef;
    /*-fx-text-fill: white;*/
}

.list-cell:odd, .list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: white;
}


.button_accept{
    -fx-graphic: url('icons/check-mark.png');
}
.button_reject{
    -fx-graphic: url('icons/close.png');
    -fx-background-size: 14 14;
}

