.main_button {
    -fx-font: bold 20px "Calibri";
    -fx-background-color:  #4c84ff;
    -fx-background-radius: 8,7,6;
    -fx-text-alignment: center;
    -fx-text-fill:  #ffffff; 
}
.heading_label {
    -fx-text-fill: #4c84ff;
    -fx-font:  50px "Calibri";

}
.normal_label
{  
    -fx-font:  24px "Calibri";

}

.warningMsg {
    -fx-text-fill:  #fc0303;
    -fx-font: 20px "Calibri";
    -fx-text-alignment: left;

}

.background {
    -fx-background-color:  #ffffff;
}
.secondaryBackgound {
    -fx-background-color:  #4c84ff;
}

.text-field {
    -fx-background-radius: 8,7,6;
}

.button:hover
{
    -fx-background-color:#3158ad;
    
}

