.circle_image {
   -fx-width: 250px;
    -fx-height: 250px;
    -fx-background-image: url('C:\Users\pc\ChatApplication\src\main\resources\view\sender.png');
    -fx-background-size: cover;
    -fx-display: block;
}
.vbox_size{
-fx-padding: 5px;
}
.message-view
{
  -fx-text-fill:#000000;
  -fx-border-color: #ffff;
  -fx-background-radius:2em;
  -fx-background-color: #DCDCDC ;
}



